main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    background: rgb(152, 145, 145);
    app-home{
        max-width: 700px;
        max-height: 600px;
        height: 100%;
        width: 100%;
        background: white;
        border-radius: 20px;
    }
}